In [52]:
import pandas as pd

weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
wd = {"day":{"0":"1\/1\/2017","1":"1\/2\/2017","2":"1\/3\/2017","3":"1\/4\/2017","4":"1\/5\/2017","5":"1\/6\/2017"},"temperature":{"0":32,"1":35,"2":28,"3":24,"4":32,"5":31},"windspeed":{"0":6,"1":7,"2":2,"3":7,"4":4,"5":2},"event":{"0":"Rain","1":"Sunny","2":"Snow","3":"Snow","4":"Rain","5":"Sunny"}}
df = pd.read_csv("weather_data.csv")
print(df)
df = pd.DataFrame(weather_data)
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny
        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [53]:
rows, cols = df.shape
print(rows," ",cols)

6   4

In [54]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [55]:
df.tail(2)

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [56]:
## slicing
print(df[1:3])

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [57]:
print(df.columns)

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [58]:
print(df['event'])

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [59]:
print(type(df['event']))
print(df[['event','day']])

<class 'pandas.core.series.Series'>
   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [60]:
print(df['temperature'].max())

35

In [61]:
print(df.describe())

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [62]:
print(df[df.temperature>=32])

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [63]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [64]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [65]:
df = pd.read_excel("weather_data.xlsx","Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow